* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: #363636;

  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 600;
    background: #363636;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
  }

  .close-btn:hover {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
  }

  .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    padding: 10px;
    background: #363636;

    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;

    button {
      color: white;
      margin-right: 10px;
      cursor: pointer;
    }
  }

  .menu:hover {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
  }

  .flexbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .color-container {
      div {
        width: 100px;
        height: 100px;
      }
      input {
        background: #545454;
        color: #fff;
        width: 52px;
        height: 20px;
        position: relative;
      }
      button {
        background: #545454;
        height: 20px;
        width: 16px;
        cursor: pointer;

        img {
          height: 11px;
        }
      }
    }

    .add-btn {
      font-family: "Roboto", sans-serif;
      font-size: 50px;
      font-weight: 600;
      color: #fff;
      background: transparent;
      width: 100px;
      height: 120px;
      cursor: pointer;
    }
  }
}
